.lios-window-container {
  display: none;
  position: fixed;
  z-index: 1000;
  --default-width: 80%;
  --default-height: 80%;
  width: var(--default-width);
  height: var(--default-height);
  --default-inset:10%;
  inset: var(--default-inset);
  border-radius: 5px;
  flex-direction: column;
  min-height: 200px;
  min-width: 300px;
  resize: both;
  overflow: auto;
}
.lios-window-container hr {
  margin: unset;
}
.lios-window {
  display: block;
  overflow: auto;
}
@media screen and (max-width: 400px) {
  .lios-window-container {
    z-index: 1000;
    --default-width: 95%;
    --default-height: 95%;
    width: var(--default-width);
    height: var(--default-height);
    --default-inset:2.5%;
    border-radius: 5px;
  }
}
.lios-window-titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0%;
  width: 100%;
  overflow: hidden;
}
.lios-window-title {
  height: 100%;
}
.lios-window-close {
  cursor: pointer;
  padding: 2px;
  border-top-right-radius: 5px;
  height: 100%;
}
.lios-card-contents {
  display: block;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.lios-window-card {
  display: block;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.lios-window-value-row {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border: 2px groove var(--lios-window-border-color, black);
  justify-content: space-between;
  border-radius: 5px;
  display: flex;
  margin-top: 5px;
  margin-bottom: 2px;
}
.lios-window-value-row .key {
  font-weight: bold;
}
.lios-window-header {
  font-size: 32px;
  text-align: center;
}
.lios-window-container-title {
  font-size: 24px;
  margin-left: 2.5%;
  margin-right: auto;
}
