/* Normal buttons */
.lios-button{
    all: unset;
    display: inline-flex;
    position: relative;
    border: var(--lios-button-border-width,0) groove var(--lios-button-border-color);
    text-align: center;
    justify-content: center;
    padding: var(--lios-button-padding, 5px);
    border-radius: var(--lios-button-border-radius);
    font-size: var(--lios-button-font-size);
    background: var(--lios-button-background);
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
}
.lios-button *{
    position: relative;
    z-index: 1;
}
.lios-button::before{
    content: "";
    position: absolute;
    background: var(--lios-button-on-hover-background);
    height: 100%;
    width: 100%;
    left: -105%;
    top: 0;
    transition: all 0.2s ease-in-out;
    z-index: 0;
}
.lios-button:active{
    animation: button-is-pressed 0.2s linear 1 forwards;
}
@keyframes button-is-pressed{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.9);
    }
}
.lios-button:hover::before{
    left: 0;
    transition: all 0.2s ease-in-out;
}
/* Button Groups */
.lios-button-group{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    border-radius: var(--lios-button-group-border-radius,100vh);
    background: var(--lios-button-group-background,transparent);
    padding: var(--lios-button-group-padding,2px);
}
.lios-button-group .lios-button{
    padding: 5px;
}
.lios-button-group .lios-button:first-child{
    border-top-left-radius: var(--lios-button-group-border-radius,100vh);
    border-bottom-left-radius: var(--lios-button-group-border-radius,100vh);
}
.lios-button-group .lios-button:last-child{
    border-top-right-radius: var(--lios-button-group-border-radius,100vh);
    border-bottom-right-radius: var(--lios-button-group-border-radius,100vh);
}
/* Extended FAB & FAB */
.lios-extended-fab,.lios-fab{
    text-decoration: none;
    position: fixed;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: var(--lios-extended-fab-border-radius,5px);
    padding: 15px;
    font-size: var(--lios-extended-fab-font-size,22px);
    background: var(--lios-extended-fab-background);
    justify-content: space-between;
    width: fit-content;
    color: unset;
    overflow: hidden;
}
.lios-extended-fab svg{
    width: 1em;   /* same as the font size of surrounding text */
    height: 1em;
}
.lios-extended-fab::before,.lios-fab::before{
    content: "";
    position: absolute;
    background: var(--lios-button-on-hover-background);
    height: 100%;
    width: 100%;
    left: -105%;
    top: 0;
    transition: all 0.2s ease-in-out;
    z-index: -1;
}
.lios-extended-fab:hover::before,.lios-fab:hover::before{
    left: 0;
    transition: all 0.2s ease-in-out;
}
.lios-extended-fab:active,.lios-fab:active{
    animation: button-is-pressed 0.2s linear 1 forwards;
}
/* FAB menu */
.lios-fab-menu-container{
    display: flex;
    position: fixed;
    right: 2%;
    bottom: 5%;
    flex-direction: column-reverse;
    gap: 10px;
    z-index: 10;
    justify-content: flex-end;
    width: max-content;
}
.lios-fab-menu-trigger{
    background: var(--lios-fab-menu-background);
    cursor: pointer;
    border-radius: 100vh;
    justify-items: center;
    width: var(--lios-fab-menu-trigger-width, 24px);
    height: var(--lios-fab-menu-trigger-height, 24px);
    padding: var(--lios-fab-menu-padding, 12px 12px);
    inset: 0;
    align-self: flex-end;
}
.lios-fab-menu-item{
    display: flex;
    position: relative;
    background: var(--lios-fab-menu-background);
    border-radius: var(--lios-fab-menu-item-border-radius, 100vh);
    padding: var(--lios-fab-menu-padding, 12px 12px);
    right: 0;
    width: fit-content;
    align-self: flex-end;
    cursor: pointer;
    text-decoration: none;
    color: unset;
}
.lios-fab-menu-item:active{
    animation: button-is-pressed 0.2s linear 1 forwards;
}
/* Segmented Buttons */
.lios-segmented-button{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    border-radius: var(--lios-segmented-button-border-radius,100vh);
    background: var(--lios-segmented-button-background,--lios-button-group-background,transparent);
    border: var(--lios-segmented-button-border);
}
.lios-segmented-button .lios-button{
    padding: 5px;
    border-left: var(--lios-segmented-button-border);
    border-right: var(--lios-segmented-button-border);
}
.lios-segmented-button .lios-button:first-child{
    border-top-left-radius: var(--lios-button-group-border-radius,100vh);
    border-bottom-left-radius: var(--lios-button-group-border-radius,100vh);
    border: none;
}
.lios-segmented-button .lios-button:last-child{
    border-top-right-radius: var(--lios-button-group-border-radius,100vh);
    border-bottom-right-radius: var(--lios-button-group-border-radius,100vh);
    border: none;
}
/* Action Button */
.lios-action-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: var(--lios-action-button-background);
    border-radius: var(--lios-action-button-border-radius,5px);
    cursor: pointer;
}
.lios-action-button:hover:active{
    animation: button-is-pressed 0.2s linear 1 forwards;
}
.lios-action-button:hover{
    animation: action-button-hovered 0.4s ease-in-out 1 forwards;
}
@keyframes action-button-hovered{
    0%{
        box-shadow: 0 0 0  5px var(--lios-action-button-box-shadow);
    }
    50%{
        box-shadow: 0 0 0  10px var(--lios-action-button-box-shadow);
    }
    100%{
        box-shadow: 0 0 0  5px var(--lios-action-button-box-shadow);
    }
}