/* Bouncing Loader */
.bouncing-loader {
    display: flex;
    justify-content: center;
  }
  .bouncing-loader > div {
    width: 16px;
    height: 16px;
    margin: 3rem 0.2rem;
    border-radius: 50%;
    animation: bouncing-loader 0.6s infinite alternate;
  }
  .bouncing-loader > div:nth-child(2) {
    animation-delay: 0.2s;
  }
  .bouncing-loader > div:nth-child(3) {
    animation-delay: 0.4s;
  }
  @keyframes bouncing-loader {
    to {
      opacity: 0.1;
      transform: translate3d(0, -16px, 0);
    }
  }
.lios-loader-3 div:first-child{
  display: flex;
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 100vh;
  background: white;
}
@keyframes loader-1-animation {
  to 100%{
    transform: rotate(180deg);
  }
}
.lios-loader-3 div:last-child{
  display: flex;
  position: relative;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  justify-self: center;
  align-self: center;
  background: black;
}
/* Loader 3 */
.lios-loader-3{
  display: flex;
  height: 50px;
  width: 50px;
  background: var(--e3ded7);
  border: 5px solid black;
  overflow: hidden;
  transform: rotate(45deg);
}
.lios-loader-3 div:first-child{
  display: flex;
  position: relative;
  width: 5px;
  height: 5px;
  background: white;
  animation: loader-3-animation 2.5s linear infinite;
}
@keyframes loader-3-animation {
  0%{
    left: 0%;
    top: 0%;
    box-shadow: -10px -10px 5px 15px red;
  }
  25%{
    left: calc(100% - 5px);
    top: 0%;
    box-shadow: -10px -10px 5px 15px red;
  }
  50%{
    left: calc(100% - 5px);
    top: calc(100% - 5px);
    box-shadow: 10px -10px 5px 15px red;
  }
  75%{
    left: 0%;
    top: calc(100% - 5px);
    box-shadow: 10px 10px 5px 15px red;
  }
  100% {
    left: 0%;
    top: 0%;
    box-shadow: -10px 10px 5px 15px red;
  }
}
.lios-loader-3 div:last-child{
  display: flex;
  position: relative;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  justify-self: center;
  align-self: center;
  background: black;
}