/* Header Navigation */
.lios-header-nav{
    display: flex;
    position: sticky;
    top: var(--lios-header-nav-position,2%);
    background: var(--lios-header-nav-background);
    border-radius: var(--lios-header-nav-radius,100vh);
    padding: var(--lios-header-nav-padding,10px);
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-between;
    align-items: center;
}
.lios-header-nav a{
    text-decoration: none;
    color: unset;
}
.lios-nav-title{
    margin-left: 10px;
    margin-right: auto;
    font-size: var(--lios-nav-title-font-size, 26px);
}
.lios-nav-contents{
    align-items: center;
    margin-right: 10px;
    margin-left: auto;
}
/* Header nav V2: Pebble navigation */
.lios-header-nav-2{
    display: flex;
    position: sticky;
    top: var(--lios-header-nav-2-position,2%);
    background: transparent;
    justify-content: space-between;
    align-items: center;
    --lios-inner-variable-size:var(--lios-header-nav-2-component-size, 48px);
}
.lios-header-nav-2-pebbles{
    display: flex;
    gap: 5px;
    border-radius: 100vh;
    padding: 4px;
    background: var(--lios-header-nav-2-background);
    align-items: center;
}
.lios-header-nav-2-pebble{
    display: flex;
    width: var(--lios-inner-variable-size);
    height: var(--lios-inner-variable-size);
    border-radius: 100vh;
    justify-items: center;
    align-self: center;
    color: var(--lios-header-nav-2-color);
    transition: all 0.3s, color 0.3s;
    padding: 2px;
}
.lios-header-nav-2-pebble:hover{
    background: var(--lios-header-nav-2-background);
    color: var(--lios-header-nav-2-hover-color);
    transition: all 0.3s, color 0.3s;
}
.lios-header-nav-2-pebble svg{
    width: var(--lios-inner-variable-size);
    height: var(--lios-inner-variable-size);
}
.lios-header-nav-2-branding{
    display: flex;
    border-radius: 100vh;
    overflow: hidden;
    padding: 4px;
    background: var(--lios-header-nav-2-background);
}