.lios-pop-up{
    display: flex;
    position: fixed;
    align-self: center;
    left: 50%;
    right: 50%;
    justify-self: center;
    display: none;
    z-index: 89;
    padding: 12px;
    border-radius: var(--lios-pop-up-radius,15px);
    width: var(--lios-pop-up-width,70%);
    background: var(--lios-pop-up-background);
    transition: all 0.4s ease-in-out;
    box-shadow: var(--lios-pop-up-shadow, 0 2px 4px rgba(0, 0, 0, 0.1));
}
.lios-pop-up.pop-up-is-opening{
    animation: LiOS-Open-Popup-Open 0.1s linear 1 forwards;
    transition: all 0.4s ease-in-out;
}
@keyframes LiOS-Open-Popup-Open{
    0%{
        scale:1;
    }
    50%{
        scale: 1.05;
    }
    100%{
        scale: 1;
    }
}
.lios-pop-up.pop-up-is-closing{
    animation: LiOS-Open-Popup-Close 0.1s linear 1 forwards;
    transition: all 0.4s ease-in-out;
}
@keyframes LiOS-Open-Popup-Close{
    0%{
        scale:1;
    }
    50%{
        scale: 1.05;
    }
    100%{
        scale: 1;
    }
}