.lios-window-container {
  display: none;
}
.lios-window-container hr {
  margin: unset;
}
.lios-window {
  display: block;
  overflow: auto;
}
.lios-window-container:target {
  display: flex;
  position: fixed;
  z-index: 1000;
  width: 80%;
  height: 80%;
  inset: 10%;
  border-radius: 5px;
  flex-direction: column;
}
@media screen and (max-width: 400px) {
  .lios-window-container:target {
    z-index: 1000;
    width: 95%;
    height: 95%;
    inset: 2.5%;
    border-radius: 5px;
  }
}
.lios-window-titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0%;
  width: 100%;
  overflow: hidden;
}
.lios-window-title {
  height: 100%;
}
.lios-window-close {
  cursor: pointer;
  padding: 2px;
  border-top-right-radius: 5px;
  height: 100%;
}
.lios-card-contents {
  display: block;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.lios-window-card {
  display: block;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.lios-window-value-row {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border: 2px groove var(--lios-window-border-color, black);
  justify-content: space-between;
  border-radius: 5px;
  display: flex;
  margin-top: 5px;
  margin-bottom: 2px;
}
.lios-window-value-row .key {
  font-weight: bold;
}
.lios-window-header {
  font-size: 32px;
  text-align: center;
}
.lios-window-container-title {
  font-size: 24px;
  margin-left: 2.5%;
  margin-right: auto;
}
