:root {
  background: linear-gradient(to left, red, orange);
  --lios-button-border-width: none;
  --lios-button-border-color: #73293b;
  --lios-button-border-radius: 2px;
  --lios-button-background: var(--e3ded7);
  --lios-button-on-hover-background: red;
  --lios-fab-menu-background: var(--e3ded7);
  --lios-segmented-button-border: 2px groove white;
  --lios-header-nav-background: var(--e3ded7);
  --lios-frosted-texture-color: red;
  --lios-pop-up-background:var(--e3ded7);
  --lios-table-header-background:var(--351e1c);
  --lios-table-cell-background:var(--e3ded7);
  --lios-table-cell-hover-background:var(--e3ded7);
  --lios-loader-3-container-color:black;
  --lios-loader-3-cube-color:white;
  --lios-loader-3-trail-color:red;
  --lios-loader-3-track-color:var(--e3ded7);
}
.lios-button-group {
  --lios-button-background: var(--e3ded7);
  --lios-button-border-width: 2px;
  --lios-button-border-color: none;
  --lios-button-group-background: none;
}
.lios-extended-fab,
.lios-fab {
  --lios-extended-fab-background: var(--e3ded7);
  --lios-button-on-hover-background: #ff2266;
}
.lios-card-container {
  --lios-card-background: var(--e3ded7);
}
.lios-table{
  font-size: 22px;
}
.lios-window-container{
  background: var(--e3ded7);
}
