    .mouse_cursor_gradient_tracking {
      position: relative;
      z-index: 0;
      overflow: hidden;
      border: none;
      padding: 1em 2em;
      cursor: pointer;
    }

    .mouse_cursor_gradient_tracking::before {
      content: '';
      position: absolute;
      left: var(--x);
      top: var(--y);
      transform: translate(-50%, -50%);
      width: 200%;
      height: 200%;
      opacity: 0;
      transition: opacity 0.3s ease;
      pointer-events: none;
      z-index: -1;
    }

    .mouse_cursor_gradient_tracking:hover::before {
      opacity: 1;
    }

    .container {
      display: flex;
      height: 100vh;
      align-items: center;
      justify-content: center;
    }