/* Top Navigation */
.navigation_container_top{
    display: flexbox;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    top: 5%;
    position: sticky;
    border-radius: 5px;
}
.navigation_buttons{
    display: flex;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    width: fit-content;
}
